.message{
    width:100%;
    display:flex;
    color:red;
  justify-content: flex-end;
    margin-bottom:16px;
  }
  .forgot-password{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .forgotPasswordInput {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 16px;
  }
  .icon {
    display: flex;
    align-items: center;
    margin-top: 180px;
    width: 187px;
    height: 180px;
    margin-bottom:192px;
  }
  .button {
    border: 0;
    color: white;
    background-color: #f79e89;
  }